@font-face {
    font-family: custom;
    src: url(/assets/fonts/poppins.regular.ttf);
}

@font-face {
    font-family: custom-scary;
    src: url(/assets/fonts/);
}

h1, h2, p {
    font-family: custom;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#first  {
    margin: -10px 0 30px 0;
    font-size: 1.5em;
}

.options {
    display: flex;
    justify-content: space-around;
}

.options img {
    height: 400px;
    width: 400px;
}

#rock, #paper, #scissors {
    border: none;
    background-color: red;
    height: 400px; width: 400px;
    outline: none;
}



.idScore {
    display: flex;
    justify-content: center;
    margin: 100px 0;
}

.idScore img {
    height: 80px;
    margin: -10px 0 0 -50px;
}

#computer {
    margin: 0 60px;
    display: flex;
    flex-direction: column;
}

#you {
    margin: 0 60px;
    display: flex;
    flex-direction: column;
}
